Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

# OSX dotfiles
.CFUserTextEncoding
.DS_Store
.Trash

# Ignored dotfiles
.zsh_history
.zcomp*
.bash_history
.ssh
.macports/history
.vimrc~
.sqlite_history
.subversion*
.rvm/*
.gem/*
.viminfo
.gnupg/*
.ssl/*
.lesshst
.bundler/*
.keepassx
.vim/.netrwhist
.mysql_history
.cache
.android
.netrc
.netbeans
.ncftp
.npm
.node-gyp/
.python_history
.redis-commander
.history
.guard_history
.phantomjs
.redis*
.muttrc
.java
.zsh*
.bundle
.coffee_history
.composer
.config
.aria2/
.gdb_history
.ghc
.dropbox
.vagrant.d
.pry_history
.MacOSX
.macports
.matlab
.RubyMine70
.WebIde80
.eclipse*
.font*
.erlang*
.cups
.m2
.wireshark-etc
.travis
.viminfo*
.ruby*
.lldb-history
.keystore
.wireshark*
.*prompt*
.*tracker*
.*snypher*
.dbshell
.irb-history

# General Dirs
2015*
Applications
Bitcasa
Book Import
Books
Calibre Library
Callnote
Coursera
Desktop
Development
Documents
Downloads
Dropbox
Google Drive
Library
Local Calibre Library
Mail
Movies
Music
NetBeansProjects
Pictures
Projects
Public
Snapshots
Spotify
USB-HDD
VirtualBox VMs
WebstormProjects

# Other
gnupg*
dragon*
*install*
bin
ruby_refactor
tmp
.transifexrc
.vbxtuvan
.kismet
.adobe
.Xauthority
.gpg-agent-info
dump.rdb
*.tar*
.zsh-update
.autocanary

.ICEauthority
.Xauthority
.xchat2
.dbus
.gnome
.xscreensaver
fonts
.histfile
