Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

# OSX dotfiles
.CFUserTextEncoding
.DS_Store
.Trash

# Ignored dotfiles
.zsh_history
.zcomp*
.bash_history
.ssh
.macports/history
.rvm/*
.gem/*
.viminfo
.gnupg/*
.ssl/*
.lesshst
.bundler/*
.keepassx
.vim/.netrwhist
.mysql_history
.cache
.android
