[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/promptline"]
	path = bundle/promptline
	url = https://github.com/edkolev/promptline.vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/ag"]
	path = bundle/ag
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git@github.com:tpope/vim-rake.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = git@github.com:ecomba/vim-ruby-refactoring.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/vim-spec"]
	path = bundle/vim-spec
	url = git@github.com:kana/vim-vspec.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git@github.com:tsaleh/vim-matchit.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
