[submodule "bundle/vim-i18n"]
	path = bundle/vim-i18n
	url = git@github.com:stefanoverna/vim-i18n.git
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec
